body{
    background-color: blue;
    margin: 0;
}

canvas{
  display:block;
  vertical-align:bottom;
}




#particles-js{
  width: 100%;
  height: 100%;
  background-color: blue;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
